/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
/* common styles or utilities*/
body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container{
    /* margin-left: 180px;
    margin-right: 210px; */
    width: 1050px;
}
/* header start */
header{
    height: 695px;
    width:100%;
    background-color: #2D25A0;
    display: flex;
    justify-content: space-around;
    margin-bottom: 70px;
}
.heading:hover img{
    transform: rotate(360deg) scale(0.5);
    transition: transform 2s ease-in-out;
}
.left-side h1{
   margin: 0;
   font-weight: bold;
   font-size: 64px;
   color: #FFFFFF;
   margin-top: 207px;
   margin-bottom: 27px;
}
.left-side h1:hover{
    color: #c72222;
    cursor: pointer;
}
.button{
    width: 168px;
    height: 44px;
    background-color: #E02C6D;
    display: flex;
    align-items: center;
    justify-content: center;
}
.button:hover{
    background-color: #0e5f0e;
    cursor: pointer;
}
.button a{
    font-weight: 500;
    font-size: 16px;
    color: #FFFFFF;
    text-decoration: none;
}
.button a:hover{
    color: red;
}
.button i{
    margin-left: 8px;
    color: white;
}
.right-side img{
    width: 556.01px;
    height: 438px;
    margin-top: 135px;
}
/*----------
 top players section start 
 ---------*/
.players{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-column-gap: 30px;
    grid-row-gap: 27px;
    margin-bottom: 40px;
}
.player{
    background: #FFFFFF;
    height: 474px;
    padding:15px;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
}
.player-image img{
    width: 300px;
height: 256px;
}
.player-info h2{
    font-weight: bold;
    font-size: 28px;
}
.player-info p{
    font-weight: normal;
    font-size: 16px;
    color:#6C6C6C;
    text-align: justify;
    margin-bottom: 33px;
}
/* top players section end */

/* -----------
    Teams start
---------*/
.section-title{
    font-weight: bold;
    font-size: 50px;
    color: #2D25A0;
    text-transform:uppercase;
}
.teams{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-row-gap: 10px;
    background: #FFFFFF;
    padding:15px;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
    margin-bottom: 100px;
}
.team img{
    width: 90%;
}
/* -----------
    Teams end
---------*/

/* Winning Section Start 
-----*/
.winning-section{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-column-gap: 69px;
    margin-bottom: 100px;
}
.winning-image img{
    width: 600px;
    height: 327px;
}
.winning-title h1{
    font-weight: bold;
    font-size: 48px;
    margin: 0;
}
.winning-title h1 span{
    color:#75AADB;
}
.winning-title p{
    text-align: justify;
    color:#6C6C6C;
}
/* Winning Section end 
-----*/
/* footer start */
.last-section{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.last-section img{
    width: 483.87px;
    height: 110px;
    margin-bottom: 20px;
}
.social-icons-list ul{
    text-align: center;
    padding-left: 0px;
}
.social-icons-list ul li{
    display: inline-block;
    width: 40px;
    height: 40px;
    text-align: center;
    background-color: #E7E7E8;
    border-radius: 100%;
    margin: 0px 14px;
}
.social-icons-list ul li a{
    display: block;
    color: #969BAB;
    font-size: 20px;
    line-height: 40px;
}
.last-text p{
    font-weight:100;
    font-size: 22px;
    margin: 20px 0px;
}
/* footer end */
/* ---------
Media Queries 
-------------*/
/* Mobile Devices */
@media only screen and (max-width:688px) {
    .container{
        width: 100%;
    }
    header{
        height: 695px;
        max-width: 100% !important;
        display: flex;
        flex-direction: column;
        margin-bottom: 47px;
    }
    .left-side,.right-side{
        margin-left: 26px;
    }
    .left-side h1{
        font-size: 36px;
        margin-top: 90px;
    }
    .right-side img{
        width: 329px;
        height: 259.17px;
        margin-top: 60px;
    }
    .players,.teams,.winning-section{
        grid-template-columns: repeat(1,330px);
        justify-content: center;
    }
    .player{
        height: 474px;
    }
    .team{
        display: flex;
        justify-content: center;
    }
    .team img{
        width: 70%;
    }
    .section-title{
        font-size: 30px;
        text-align: center;
    }
    .last-section img{
        width: 200px;
        height: 80px;
    }
    .winning-section{
        width: 90%;
        margin: 0 auto;
        flex-direction: column;
    }
    .winning-image img{
        width: 300px;
        height: 180px;
    }
    .winning-title h1{
        font-size: 28px;
    }
}
/* tablet devices */
@media  only screen and (min-width:688px) and (max-width:992px){
    .container{
        width: 100%;
    }
    header{
        height: auto;
        max-width: 100% !important;
        display: flex;
        flex-direction: column;
    }
    .left-side,.right-side{
        margin-left: 26px;
        margin-bottom: 20px;
    }
    .left-side h1{
        font-size: 40px;
        margin-top: 90px;
    }
    .right-side img{
        width: 456.01px;
        height: 338px;
        margin-top: 135px;
    }
    .players,.teams{
        grid-template-columns: repeat(2,330px);
        justify-content: center;
    }
    .section-title{
        text-align: center;
    }
    .winning-section{
        width: 90%;
        margin: 0 auto;
        grid-template-columns: repeat(1,1fr);
    }
    .winning-image img{
        width: 400px;
        height: 200px;
    }
    .winning-title h1{
        font-size: 40px;
    }
}       